@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 800px 150px 1140px;
      grid-template-rows: 800px 150px 1140px;
  font-family: 'Josefin Sans', sans-serif;
}

@media all and (max-width: 376px) {
  .main {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 690px 85px 1315px;
        grid-template-rows: 690px 85px 1315px;
  }
}

.main__section_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (max-width: 376px) {
  .main__section_one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__section_one__photo {
  margin-top: 160px;
  margin-left: 160px;
  width: 730px;
  height: 500px;
}

@media all and (max-width: 376px) {
  .main__section_one__photo {
    margin-left: 25px;
    margin-top: 95px;
    width: 325px;
    height: 225px;
  }
}

.main__section_one__photo img {
  width: 100%;
}

.main__section_one__box__container {
  background-color: white;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 90px;
  width: 540px;
  height: 300px;
  position: relative;
  top: 360px;
  right: 160px;
}

@media all and (max-width: 376px) {
  .main__section_one__box__container {
    width: 325px;
    height: 280px;
    top: 0px;
    right: 0px;
    padding: 10px;
    margin-left: 25px;
    margin-top: 40px;
    text-align: center;
  }
}

.main__section_one__box__container h1 {
  text-transform: uppercase;
  margin-bottom: 35px;
}

.main__section_one__box__container p {
  line-height: 1.4;
}

.main__section_two {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 720px 720px;
      grid-template-columns: 720px 720px;
}

@media all and (max-width: 376px) {
  .main__section_two {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 375px;
        grid-template-columns: 375px;
  }
}

.main__section_two__title {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 160px;
}

@media all and (max-width: 376px) {
  .main__section_two__title {
    margin-left: 0px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.main__section_two__title h1 {
  text-transform: uppercase;
}

.main__section_two__button {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 160px;
}

@media all and (max-width: 376px) {
  .main__section_two__button {
    display: none;
  }
}

.main__section_two__button button {
  width: 150px;
  height: 35px;
  text-transform: uppercase;
  background-color: white;
}

.main .main__section_third {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 375px;
      grid-template-columns: 375px;
}

.main .main__section_third__grids {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 260px 260px 260px 260px;
      grid-template-columns: 260px 260px 260px 260px;
  -ms-grid-rows: 450px 450px 450px 450px;
      grid-template-rows: 450px 450px 450px 450px;
  row-gap: 25px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  margin-left: 160px;
}

@media all and (max-width: 376px) {
  .main .main__section_third__grids {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 325px;
        grid-template-columns: 325px;
    -ms-grid-rows: 120px 120px 120px 120px 120px 120px 120px 120px;
        grid-template-rows: 120px 120px 120px 120px 120px 120px 120px 120px;
    margin-left: 25px;
  }
}

.main .main__section_third__grids .earth {
  background: url("/images/desktop/image-deep-earth.jpg") no-repeat;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 40px;
  padding-left: 40px;
}

@media all and (max-width: 376px) {
  .main .main__section_third__grids .earth {
    background: url("/images/mobile/image-deep-earth.jpg") no-repeat;
    background-size: 100%;
  }
}

@media all and (max-width: 376px) {
  .main .main__section_third__grids .earth {
    padding-bottom: 20px;
    padding-left: 20px;
  }
}

.main .main__section_third__grids .earth p {
  font-size: 20px;
  width: 20%;
  color: white;
  text-transform: uppercase;
}

.main .main__section_third__grids .arcade {
  background: url("/images/desktop/image-night-arcade.jpg") no-repeat;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 40px;
  padding-left: 40px;
}

@media all and (max-width: 376px) {
  .main .main__section_third__grids .arcade {
    background: url("/images/mobile/image-night-arcade.jpg");
    background-size: 100%;
  }
}

@media all and (max-width: 376px) {
  .main .main__section_third__grids .arcade {
    padding-bottom: 20px;
    padding-left: 20px;
  }
}

.main .main__section_third__grids .arcade p {
  font-size: 20px;
  width: 20%;
  color: white;
  text-transform: uppercase;
}

.main .main__section_third__grids .soccer {
  background: url("/images/desktop/image-soccer-team.jpg") no-repeat;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 40px;
  padding-left: 40px;
}

@media all and (max-width: 376px) {
  .main .main__section_third__grids .soccer {
    background: url("/images/mobile/image-soccer-team.jpg") no-repeat;
    background-size: 100%;
  }
}

@media all and (max-width: 376px) {
  .main .main__section_third__grids .soccer {
    padding-bottom: 20px;
    padding-left: 20px;
  }
}

.main .main__section_third__grids .soccer p {
  font-size: 20px;
  width: 50%;
  color: white;
  text-transform: uppercase;
}

@media all and (max-width: 376px) {
  .main .main__section_third__grids .soccer p {
    width: 40%;
  }
}

.main .main__section_third__grids .grid {
  background: url("/images/desktop/image-grid.jpg") no-repeat;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 40px;
  padding-left: 40px;
}

@media all and (max-width: 376px) {
  .main .main__section_third__grids .grid {
    background: url("/images/mobile/image-grid.jpg") no-repeat;
    background-size: 100%;
  }
}

@media all and (max-width: 376px) {
  .main .main__section_third__grids .grid {
    padding-bottom: 20px;
    padding-left: 20px;
  }
}

.main .main__section_third__grids .grid p {
  font-size: 20px;
  width: 20%;
  color: white;
  text-transform: uppercase;
}

.main .main__section_third__grids .above {
  background: url("/images/desktop/image-from-above.jpg") no-repeat;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 40px;
  padding-left: 40px;
}

@media all and (max-width: 376px) {
  .main .main__section_third__grids .above {
    background: url("/images/mobile/image-from-above.jpg") no-repeat;
    background-size: 100%;
  }
}

@media all and (max-width: 376px) {
  .main .main__section_third__grids .above {
    padding-bottom: 20px;
    padding-left: 20px;
  }
}

.main .main__section_third__grids .above p {
  font-size: 20px;
  width: 50%;
  color: white;
  text-transform: uppercase;
}

.main .main__section_third__grids .pocket {
  background: url("/images/desktop/image-pocket-borealis.jpg") no-repeat;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 40px;
  padding-left: 40px;
}

@media all and (max-width: 376px) {
  .main .main__section_third__grids .pocket {
    background: url("/images/mobile/image-pocket-borealis.jpg") no-repeat;
    background-size: 100%;
  }
}

@media all and (max-width: 376px) {
  .main .main__section_third__grids .pocket {
    padding-bottom: 20px;
    padding-left: 20px;
  }
}

.main .main__section_third__grids .pocket p {
  font-size: 20px;
  width: 50%;
  color: white;
  text-transform: uppercase;
}

.main .main__section_third__grids .curiosity {
  background: url("/images/desktop/image-curiosity.jpg") no-repeat;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 40px;
  padding-left: 40px;
}

@media all and (max-width: 376px) {
  .main .main__section_third__grids .curiosity {
    background: url("/images/mobile/image-curiosity.jpg") no-repeat;
    background-size: 100%;
  }
}

@media all and (max-width: 376px) {
  .main .main__section_third__grids .curiosity {
    padding-bottom: 20px;
    padding-left: 20px;
  }
}

.main .main__section_third__grids .curiosity p {
  font-size: 20px;
  width: 30%;
  color: white;
  text-transform: uppercase;
}

.main .main__section_third__grids .fisheye {
  background: url("/images/desktop/image-fisheye.jpg") no-repeat;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 40px;
  padding-left: 40px;
}

@media all and (max-width: 376px) {
  .main .main__section_third__grids .fisheye {
    background: url("/images/mobile/image-fisheye.jpg") no-repeat;
    background-size: 100%;
  }
}

@media all and (max-width: 376px) {
  .main .main__section_third__grids .fisheye {
    padding-bottom: 20px;
    padding-left: 20px;
  }
}

.main .main__section_third__grids .fisheye p {
  font-size: 20px;
  width: 40%;
  color: white;
  text-transform: uppercase;
}

.main .main__section_third .section-button {
  display: none;
}

@media all and (max-width: 376px) {
  .main .main__section_third .section-button {
    display: -ms-grid;
    display: grid;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .main .main__section_third .section-button button {
    width: 150px;
    height: 35px;
    text-transform: uppercase;
    background-color: white;
    color: black;
  }
}
/*# sourceMappingURL=main-section.css.map */