@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  border: 1px solid black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1440px;
      grid-template-columns: 1440px;
  -ms-grid-rows: 600px 1fr 360px;
      grid-template-rows: 600px 1fr 360px;
  background: #FAFAFA;
}

@media only screen and (max-device-width: 375px) {
  .page-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 375px;
        grid-template-columns: 375px;
    -ms-grid-rows: 525px 1fr 840px;
        grid-template-rows: 525px 1fr 840px;
  }
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 150px 450px;
      grid-template-rows: 150px 450px;
  -ms-grid-columns: 720px 720px;
      grid-template-columns: 720px 720px;
  font-family: 'Overpass', sans-serif;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #ff8f70), color-stop(80%, #ff3d54));
  background: linear-gradient(to right, #ff8f70 20%, #ff3d54 80%);
  color: white;
  border-bottom-left-radius: 100px;
}

@media only screen and (max-device-width: 375px) {
  .header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 375px;
        grid-template-columns: 375px;
    -ms-grid-rows: 125px 400px;
        grid-template-rows: 125px 400px;
  }
}

.header__navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 335px 385px;
      grid-template-columns: 335px 385px;
}

@media only screen and (max-device-width: 375px) {
  .header__navigation {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 187.5px 187.5px;
        grid-template-columns: 187.5px 187.5px;
  }
}

.header__navigation__logo {
  padding-left: 160px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media only screen and (max-device-width: 375px) {
  .header__navigation__logo {
    padding-left: 20px;
  }
}

.header__navigation__items {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 100px 100px 100px;
      grid-template-columns: 100px 100px 100px;
  -webkit-column-gap: 35px;
          column-gap: 35px;
}

@media only screen and (max-device-width: 375px) {
  .header__navigation__items {
    display: none;
  }
}

.header__navigation__items .product__name span {
  margin-right: 5px;
}

.header__navigation__items .product__menu {
  display: none;
}

.header__navigation__items .product:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__navigation__items .product:hover .product__name span {
  border-bottom: 1px solid white;
}

.header__navigation__items .product:hover .product__name img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header__navigation__items .product:hover .product__menu {
  width: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  color: #3f4164;
  position: absolute;
  top: 100px;
  list-style: none;
  line-height: 2;
  padding: 20px;
}

.header__navigation__items .company__name span {
  margin-right: 5px;
}

.header__navigation__items .company__menu {
  display: none;
}

.header__navigation__items .company:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__navigation__items .company:hover .company__name span {
  border-bottom: 1px solid white;
}

.header__navigation__items .company:hover .company__name img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header__navigation__items .company:hover .company__menu {
  width: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  color: #3f4164;
  position: absolute;
  top: 100px;
  list-style: none;
  line-height: 2;
  padding: 20px;
}

.header__navigation__items .connect__name span {
  margin-right: 5px;
}

.header__navigation__items .connect__menu {
  display: none;
}

.header__navigation__items .connect:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__navigation__items .connect:hover .connect__name span {
  border-bottom: 1px solid white;
}

.header__navigation__items .connect:hover .connect__name img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header__navigation__items .connect:hover .connect__menu {
  width: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  color: #3f4164;
  position: absolute;
  top: 100px;
  list-style: none;
  line-height: 2;
  padding: 20px;
}

.header__navigation .hamburger {
  display: none;
}

@media only screen and (max-device-width: 375px) {
  .header__navigation .hamburger {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 20px;
  }
  .header__navigation .hamburger .close {
    display: none;
  }
}

.header__buttons {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (max-device-width: 375px) {
  .header__buttons {
    display: none;
  }
}

.header__buttons .desktop button {
  width: 140px;
  height: 45px;
  border-radius: 40px;
  border: none;
  margin-left: 30px;
  margin-right: 160px;
  color: #FF545D;
  font-weight: bold;
}

.header__content {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1440px;
      grid-template-columns: 1440px;
  -ms-grid-rows: 200px 250px;
      grid-template-rows: 200px 250px;
}

@media only screen and (max-device-width: 375px) {
  .header__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 375px;
        grid-template-columns: 375px;
    -ms-grid-rows: 200px 200px;
        grid-template-rows: 200px 200px;
  }
}

.header__content__title {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 800px;
  text-align: center;
}

@media only screen and (max-device-width: 375px) {
  .header__content__title {
    width: 260px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.header__content__title h1 {
  margin-bottom: 30px;
  font-size: 50px;
}

@media only screen and (max-device-width: 375px) {
  .header__content__title h1 {
    font-size: 29px;
  }
}

.header__content__buttons {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media only screen and (max-device-width: 375px) {
  .header__content__buttons {
    padding-top: 20px;
  }
}

.header__content__buttons .start {
  width: 140px;
  height: 45px;
  border-radius: 40px;
  border: none;
  margin-left: 10px;
  color: #FF545D;
  font-weight: bold;
}

.header__content__buttons .learn {
  width: 140px;
  height: 45px;
  border-radius: 40px;
  border: 1px solid white;
  margin-left: 10px;
  color: white;
  font-weight: bold;
  background: transparent;
}

.header .hamburger__menu {
  display: none;
}

.header .show {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 200px 150px;
      grid-template-rows: 200px 150px;
  margin-left: 20px;
  width: 335px;
  background-color: white;
  color: black;
  line-height: 3;
  padding: 20px;
  border-radius: 5px;
}

.header .show .hamburger__menu__items {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .show .product {
  padding-top: 10px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.header .show .product__name span {
  margin-right: 5px;
  font-weight: bold;
}

.header .show .product__menu {
  display: none;
}

.header .show .company {
  -ms-grid-column-align: center;
      justify-self: center;
}

.header .show .company__name span {
  margin-right: 5px;
  font-weight: bold;
}

.header .show .company__menu {
  display: none;
}

.header .show .connect {
  -ms-grid-column-align: center;
      justify-self: center;
}

.header .show .connect__name span {
  margin-right: 5px;
  font-weight: bold;
}

.header .show .connect__menu {
  display: none;
}

.header .hamburger__menu__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid gray;
}

.header .hamburger__menu__buttons button {
  width: 140px;
  height: 45px;
  border-radius: 40px;
  border: none;
  margin-left: 10px;
  color: white;
  background: #FF545D;
  font-weight: bold;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1000px 400px 930px;
      grid-template-rows: 1000px 400px 930px;
  font-family: 'Ubuntu', sans-serif;
}

@media only screen and (max-device-width: 375px) {
  .main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 375px;
        grid-template-columns: 375px;
    -ms-grid-rows: 1300px 650px 1215px;
        grid-template-rows: 1300px 650px 1215px;
  }
}

.main__first {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 300px 700px;
      grid-template-rows: 300px 700px;
}

@media only screen and (max-device-width: 375px) {
  .main__first {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 375px;
        grid-template-columns: 375px;
    -ms-grid-rows: 150px 700px 250px;
        grid-template-rows: 150px 700px 250px;
  }
}

.main__first__title {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #2c2d3f;
}

.main__first__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 720px 720px;
      grid-template-columns: 720px 720px;
}

@media only screen and (max-device-width: 375px) {
  .main__first__content {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "photo" "sections";
    -ms-grid-columns: 375px;
        grid-template-columns: 375px;
    -ms-grid-rows: 250px 700px;
        grid-template-rows: 250px 700px;
  }
}

.main__first__sections {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 300px 400px;
      grid-template-rows: 300px 400px;
  padding-left: 160px;
}

@media only screen and (max-device-width: 375px) {
  .main__first__sections {
    padding-left: 0px;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-rows: 400px 300px;
        grid-template-rows: 400px 300px;
    grid-area: sections;
    text-align: center;
  }
}

.main__first__sections__first {
  margin-top: 30px;
}

.main__first__sections__first h3 {
  color: #2c2d3f;
  font-size: 31px;
}

.main__first__sections__first p {
  color: #3f4164;
  margin-top: 20px;
  width: 520px;
  line-height: 1.5;
}

@media only screen and (max-device-width: 375px) {
  .main__first__sections__first p {
    width: 300px;
    margin-left: 35px;
  }
}

.main__first__sections__second h3 {
  color: #2c2d3f;
  font-size: 31px;
}

.main__first__sections__second p {
  color: #3f4164;
  margin-top: 40px;
  width: 520px;
  line-height: 1.5;
}

@media only screen and (max-device-width: 375px) {
  .main__first__sections__second p {
    width: 300px;
    margin-left: 35px;
  }
}

.main__first__content__photo {
  background-color: transparent;
  background: url(/images/illustration-editor-desktop.svg) no-repeat;
  position: relative;
  bottom: 200px;
}

@media only screen and (max-device-width: 375px) {
  .main__first__content__photo {
    grid-area: photo;
    background: url(/images/illustration-editor-mobile.svg) no-repeat;
    bottom: 0px;
    right: 15px;
  }
}

.main__second {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 720px 720px;
      grid-template-columns: 720px 720px;
  -ms-grid-rows: 400px;
      grid-template-rows: 400px;
  border: 1px solid black;
  background: #3f4164;
}

@media only screen and (max-device-width: 375px) {
  .main__second {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 375px;
        grid-template-columns: 375px;
    -ms-grid-rows: 200px 450px;
        grid-template-rows: 200px 450px;
    border-bottom-left-radius: 100px;
  }
}

.main__second__photo {
  position: relative;
  bottom: 80px;
  left: 110px;
}

@media only screen and (max-device-width: 375px) {
  .main__second__photo {
    left: 0px;
    bottom: 160px;
  }
  .main__second__photo img {
    width: 100%;
  }
}

.main__second__content {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: 150px 300px;
      grid-template-rows: 150px 300px;
}

@media only screen and (max-device-width: 375px) {
  .main__second__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 375px;
        grid-template-columns: 375px;
  }
}

.main__second__content h1 {
  color: white;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-bottom: 30px;
}

@media only screen and (max-device-width: 375px) {
  .main__second__content h1 {
    font-size: 30px;
    width: 240px;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: end;
        align-self: flex-end;
    line-height: 1.5;
    text-align: center;
  }
}

.main__second__content p {
  width: 525px;
  line-height: 1.5;
  color: #AFB2C5;
}

@media only screen and (max-device-width: 375px) {
  .main__second__content p {
    width: 300px;
    text-align: center;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -ms-grid-column-align: center;
        justify-self: center;
    line-height: 1.8;
  }
}

.main__third {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 720px 720px;
      grid-template-columns: 720px 720px;
}

@media only screen and (max-device-width: 375px) {
  .main__third {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 415px 500px 300px;
        grid-template-rows: 415px 500px 300px;
    -ms-grid-columns: 375px;
        grid-template-columns: 375px;
  }
}

.main__third__sections {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__third__sections__one {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media only screen and (max-device-width: 375px) {
  .main__third__sections__one {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 100px 400px;
        grid-template-rows: 100px 400px;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main__third__sections__one h3 {
  color: #2c2d3f;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media only screen and (max-device-width: 375px) {
  .main__third__sections__one h3 {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 30px;
  }
}

.main__third__sections__one p {
  padding-top: 40px;
  width: 540px;
  line-height: 1.5;
  color: #3f4164;
}

@media only screen and (max-device-width: 375px) {
  .main__third__sections__one p {
    width: 300px;
    padding-top: 0px;
    text-align: center;
    line-height: 2;
  }
}

.main__third__sections__two {
  padding-top: 100px;
}

@media only screen and (max-device-width: 375px) {
  .main__third__sections__two {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 50px 250px;
        grid-template-rows: 50px 250px;
    padding-top: 0px;
  }
}

.main__third__sections__two h3 {
  color: #2c2d3f;
  margin-bottom: 40px;
}

@media only screen and (max-device-width: 375px) {
  .main__third__sections__two h3 {
    font-size: 30px;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-bottom: 0px;
  }
}

.main__third__sections__two p {
  width: 540px;
  line-height: 1.5;
  color: #3f4164;
}

@media only screen and (max-device-width: 375px) {
  .main__third__sections__two p {
    width: 300px;
    padding-top: 0px;
    text-align: center;
    line-height: 2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.main__third__photo {
  background: url(/images/illustration-laptop-desktop.svg) no-repeat 110%;
}

@media only screen and (max-device-width: 375px) {
  .main__third__photo {
    background: url(/images/illustration-laptop-mobile.svg) no-repeat 65%;
    position: relative;
    left: 20px;
  }
  .main__third__photo img {
    width: 100%;
  }
}

.footer {
  background-color: #24242C;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 440px 330px 330px 330px;
      grid-template-columns: 440px 330px 330px 330px;
  padding-top: 70px;
  border-top-right-radius: 100px;
}

@media only screen and (max-device-width: 375px) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 375px;
        grid-template-columns: 375px;
    -ms-grid-rows: 150px 225px 205px 255px;
        grid-template-rows: 150px 225px 205px 255px;
    padding-top: 0px;
  }
}

.footer__logo {
  -ms-grid-column-align: center;
      justify-self: center;
}

@media only screen and (max-device-width: 375px) {
  .footer__logo {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.footer__product {
  -ms-grid-column-align: start;
      justify-self: start;
}

@media only screen and (max-device-width: 375px) {
  .footer__product {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 60px 165px;
        grid-template-rows: 60px 165px;
    -ms-grid-columns: 375px;
        grid-template-columns: 375px;
  }
}

.footer__product p {
  padding-bottom: 40px;
  margin-top: 10px;
}

@media only screen and (max-device-width: 375px) {
  .footer__product p {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 0px;
    padding-bottom: 0px;
  }
}

.footer__product ul {
  color: #AFB2C5;
}

@media only screen and (max-device-width: 375px) {
  .footer__product ul {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
  }
}

.footer__product ul li {
  list-style: none;
  line-height: 2;
}

.footer__company {
  -ms-grid-column-align: start;
      justify-self: start;
}

@media only screen and (max-device-width: 375px) {
  .footer__company {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 65px 140px;
        grid-template-rows: 65px 140px;
    -ms-grid-columns: 375px;
        grid-template-columns: 375px;
  }
}

.footer__company p {
  padding-bottom: 40px;
  margin-top: 10px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media only screen and (max-device-width: 375px) {
  .footer__company p {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 0px;
    padding-bottom: 0px;
  }
}

.footer__company ul {
  color: #AFB2C5;
}

@media only screen and (max-device-width: 375px) {
  .footer__company ul {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
  }
}

.footer__company ul li {
  list-style: none;
  line-height: 2;
}

.footer__connect {
  -ms-grid-column-align: start;
      justify-self: start;
}

@media only screen and (max-device-width: 375px) {
  .footer__connect {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 60px 185px;
        grid-template-rows: 60px 185px;
    -ms-grid-columns: 375px;
        grid-template-columns: 375px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__connect p {
  padding-bottom: 40px;
  margin-top: 10px;
}

@media only screen and (max-device-width: 375px) {
  .footer__connect p {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-bottom: 0px;
    margin-top: 0px;
  }
}

.footer__connect ul {
  color: #AFB2C5;
}

@media only screen and (max-device-width: 375px) {
  .footer__connect ul {
    text-align: center;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.footer__connect ul li {
  list-style: none;
  line-height: 2;
}
/*# sourceMappingURL=base.css.map */