@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

.main{
    display: grid;
    grid-template-rows: 1000px 400px 930px;
    font-family: 'Ubuntu', sans-serif;
    @media only screen and (max-device-width: 375px){
        display: grid;
        grid-template-columns: 375px;
        grid-template-rows: 1300px 650px 1215px;
    }
    &__first{
        display: grid;
        grid-template-rows: 300px 700px;
        @media only screen and (max-device-width: 375px){
            display: grid;
            grid-template-columns: 375px;
            grid-template-rows: 150px 700px 250px;
        }
        &__title{
            justify-self: center;
            align-self: center;
            color:  hsl(237, 17%, 21%);
        }
        &__content{
            display: grid;
            grid-template-columns: 720px 720px;
            @media only screen and (max-device-width: 375px){
                display: grid;
                grid-template-areas: "photo"
                                     "sections";
                grid-template-columns: 375px;
                grid-template-rows: 250px 700px;
            }
        }
        &__sections{
            display: grid;
            grid-template-rows: 300px 400px;
            padding-left: 160px;
            @media only screen and (max-device-width: 375px){
                padding-left: 0px;
                display: grid;
                justify-content: center;
                grid-template-rows: 400px 300px;
                grid-area: sections;
                text-align: center;
            }
            &__first{
                margin-top: 30px;
                h3{
                    color:  hsl(237, 17%, 21%);
                    font-size: 31px;
                }
                p{
                    color: hsl(237, 23%, 32%);
                    margin-top: 20px;
                    width: 520px;
                    line-height: 1.5;
                    @media only screen and (max-device-width: 375px){
                        width: 300px;
                        margin-left: 35px;
                    }
                }
            }
            &__second{
                h3{
                    color:  hsl(237, 17%, 21%);
                    font-size: 31px;
                }
                p{
                    color: hsl(237, 23%, 32%);
                    margin-top: 40px;
                    width: 520px;
                    line-height: 1.5;
                    @media only screen and (max-device-width: 375px){
                        width: 300px;
                        margin-left: 35px;
                    }
                }
            }
        }
        &__content__photo{
            background-color: transparent;
            background: url(/images/illustration-editor-desktop.svg) no-repeat ;
            position:relative;
            bottom: 200px;
            @media only screen and (max-device-width: 375px){
                grid-area: photo;
                background: url(/images/illustration-editor-mobile.svg) no-repeat;
                bottom: 0px;
                right: 15px;
            }
        }
    }
    &__second{
        display: grid;
        grid-template-columns: 720px 720px;
        grid-template-rows: 400px;
        border: 1px solid black;
        background: hsl(237, 23%, 32%);
        @media only screen and (max-device-width: 375px){
            display: grid;
            grid-template-columns: 375px;
            grid-template-rows: 200px 450px;
            border-bottom-left-radius: 100px;
        }
        &__photo{
            position: relative;
            bottom: 80px;
            left: 110px;
            @media only screen and (max-device-width: 375px){
                img{
                    width: 100%;
                }
                left: 0px;
                bottom: 160px;
            }
        }
        &__content{
           display: grid;
           justify-content: center;
           grid-template-rows: 150px 300px;
           @media only screen and (max-device-width: 375px){
               display: grid;
               grid-template-columns: 375px;
           }
            h1{
                color: white;
                align-self: flex-end;
                padding-bottom: 30px;
                @media only screen and (max-device-width: 375px){
                    font-size: 30px;
                    width: 240px;
                    justify-self: center;
                    align-self: flex-end;
                    line-height: 1.5;
                    text-align: center;
                }
            }
            p{
                width: 525px;
                line-height: 1.5;
                color: #AFB2C5;
                @media only screen and (max-device-width: 375px){
                    width: 300px;
                    text-align: center;
                    align-self: flex-start;
                    justify-self: center;
                    line-height: 1.8;
                }
            }
        }
    }
    &__third{
        display: grid;
        grid-template-columns: 720px 720px;
        @media only screen and (max-device-width: 375px){
            display: grid;
            grid-template-rows: 415px 500px 300px;
            grid-template-columns: 375px;
        }
        &__sections{
            display: grid;
            justify-content: center;
        }
        &__sections__one{
            align-self: flex-end;
            @media only screen and (max-device-width: 375px){
                display: grid;
                grid-template-rows: 100px 400px;
                justify-self: center;
                align-items: center;
            }
            h3{
                color:  hsl(237, 17%, 21%);
                align-self: flex-end;
                @media only screen and (max-device-width: 375px){
                    justify-self: center;
                    align-self: center;
                    font-size: 30px;
                }
            }
            p{
                padding-top: 40px;
                width: 540px;
                line-height: 1.5;
                color: hsl(237, 23%, 32%);
                @media only screen and (max-device-width: 375px){
                    width: 300px;
                    padding-top: 0px;
                    text-align: center;
                    line-height: 2;
                }
            }
        }
        &__sections__two{
            padding-top: 100px;
            @media only screen and (max-device-width: 375px){
                display: grid;
                grid-template-rows: 50px 250px;
                padding-top: 0px;
            }
            h3{
                color:  hsl(237, 17%, 21%);
                margin-bottom: 40px;
                @media only screen and (max-device-width: 375px){
                    font-size: 30px;
                    justify-self: center;
                    align-self: flex-start;
                    margin-bottom: 0px;
                }
            }
            p{
                width: 540px;
                line-height: 1.5;
                color: hsl(237, 23%, 32%);
                @media only screen and (max-device-width: 375px){
                    width: 300px;
                    padding-top: 0px;
                    text-align: center;
                    line-height: 2;
                    align-self: center;
                }
            }
        }
        &__photo{
            // position: relative;
            // right: 273px;
            // top: 65px;
            background: url(/images/illustration-laptop-desktop.svg) no-repeat 110%;
            @media only screen and (max-device-width: 375px){
                background: url(/images/illustration-laptop-mobile.svg) no-repeat 65%;
                img{
                    width: 100%;
                }
                position: relative; 
                left: 20px;

            }
        }
    }
}