.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 540px;
      grid-template-columns: 540px;
  -ms-grid-rows: 75px 155px;
      grid-template-rows: 75px 155px;
}

@media only screen and (max-device-width: 375px) {
  .header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 375px;
        grid-template-columns: 375px;
    -ms-grid-rows: 100px 115px;
        grid-template-rows: 100px 115px;
  }
}

.header__theme {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 270px 270px;
      grid-template-columns: 270px 270px;
}

@media only screen and (max-device-width: 375px) {
  .header__theme {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 187.5px 187.5px;
        grid-template-columns: 187.5px 187.5px;
  }
}

.header__theme__name {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header__theme__name h3 {
  color: white;
  font-size: 30px;
}

@media only screen and (max-device-width: 375px) {
  .header__theme__name h3 {
    padding-left: 20px;
  }
}

.header__theme__button {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 175px 95px;
      grid-template-columns: 175px 95px;
}

@media only screen and (max-device-width: 375px) {
  .header__theme__button {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 73.5px 113.5px;
        grid-template-columns: 73.5px 113.5px;
  }
}

.header__theme__button__theme {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
}

.header__theme__button__switch {
  -ms-grid-column-align: end;
      justify-self: end;
  padding-top: 7px;
}

@media only screen and (max-device-width: 375px) {
  .header__theme__button__switch {
    padding-right: 20px;
    padding-top: 20px;
  }
}

.header__theme__button__switch__numbers {
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 22px 22px 22px;
      grid-template-columns: 22px 22px 22px;
  padding-bottom: 3px;
}

.header__theme__button__switch__numbers .one {
  font-size: 13px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.header__theme__button__switch__numbers .two {
  font-size: 13px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.header__theme__button__switch__numbers .three {
  font-size: 13px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.header__theme__button__switch__slider {
  height: 20px;
  width: 65px;
  border: 1px solid white;
  background: #232c43;
  border-radius: 10px;
  border: none;
  padding-top: 2.5px;
  position: relative;
}

.header__theme__button__switch__slider .point {
  height: 15px;
  width: 15px;
  background: #93261a;
  margin-left: 5px;
  padding-bottom: 3px;
  border-radius: 50px;
}

.header__theme__button__switch__slider .checks {
  position: relative;
  bottom: 16px;
}

.header__theme__button__switch__slider .checks .one_checked {
  background-color: transparent;
  padding-left: 7px;
  padding-right: 7px;
  margin: 4px;
}

.header__theme__button__switch__slider .checks .two_checked {
  background-color: transparent;
  padding-left: 7px;
  padding-right: 7px;
  margin: 4px;
}

.header__theme__button__switch__slider .checks .three_checked {
  background-color: transparent;
  padding-left: 7px;
  padding-right: 7px;
  margin: 4px;
}

.header__result {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media only screen and (max-device-width: 375px) {
  .header__result {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.header__result__board {
  width: 540px;
  height: 125px;
  border: 1px solid white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 540px;
      grid-template-columns: 540px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  border: none;
  background: #182034;
}

@media only screen and (max-device-width: 375px) {
  .header__result__board {
    width: 335px;
    height: 85px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 335px;
        grid-template-columns: 335px;
  }
}

.header__result__board__number {
  justify-self: flex-end;
  color: white;
  padding-right: 35px;
  font-size: 25px;
}

@media only screen and (max-device-width: 375px) {
  .header__result__board__number {
    font-size: 13px;
    width: 130px;
    padding-right: 20px;
  }
}
/*# sourceMappingURL=header.css.map */