@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page-wrapper{
    font-family: 'Spartan', sans-serif;
    border: 1px solid black;
    width: 1440px;
    height: 900px;
    margin: 0 auto;
    padding-top: 80px;
    display: grid;
    justify-content: center;
    grid-template-columns: 540px;
    grid-template-rows: 235px 480px;
    background-color: hsl(222, 26%, 31%);
    @media only screen and (max-device-width: 375px){
        display: grid;
        grid-template-columns: 375px;
        grid-template-rows: 215px 450px;
        width: 375px;
        height: 725px;
        padding-top: 0px;
    }
}